@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #23252b; /* Color naranja similar al de Crunchyroll */
} 
.navbar-brand {
    height: 45px;
}

.navbar-brand :nth-child(1) {
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
.navbar-toggler-icon {
        background-color: #f47521de;
        border-radius: 5px;
}
.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 10px;

}

.min-logo {
    display: none;
}

header .nav-link {
    color: #ffffff;
}

header .nav-link:hover {
     color: #f47521de;

}

@media (max-width: 576px) {
    .navbar-brand :nth-child(1) {
        display: none;
    }
    .min-logo {
        display: block;
        margin: 0 auto; /* Centrando horizontalmente */
        text-align: center; /* Asegurando el centrado */
    }
    
    .navbar-brand {
        display: flex;
        justify-content: center;
        width: 100%;
    }


}